{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<head>
    <h1>Boston Area Bluebike Data</h1>
    <br>
    <h3>Welcome to the Bluebike Data Visualizations for the Boston Area!</h3>
    <h5>We offer easily readable visualizations for each year and month that Bluebike data has been available to the public.</h5>
    <h5>Please begin by selecting which year of data to view, followed by the month, to access the analysis.</h5>
    <br>
    <h2>Select Which Year</h2>
    <br>
</head>

<body>
    <h3><a id="2015" href="/2015">2015</a></h3>
    <h3>2016</h3>
    <h3>2017</h3>
    <h3>2018</h3>
    <h3>2019</h3>
    <h3>2020</h3>
    <h3>2021</h3>
    <h3>2022</h3>
    <h3>2023</h3>
    
</body>




{% endblock %}