{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<head>
    <h1>Boston Area Bluebike Data</h1>
    <br>
    <h3>Welcome to the Bluebike Data Visualizations for the Boston Area!</h3>
    <h5>We offer easily readable visualizations for each year that Bluebike data has been available to the public.</h5>
    <h5>Please begin by selecting which year of data to view to access their subsequent analysis.</h5>
    <br>
    <h2>Select Which Year</h2>
    <br>
</head>

<body>
    <h3><a id="2015" href="/2015">2015</a></h3>
    <h3><a id="2016" href="/2016">2016</a></h3>
    <h3><a id="2017" href="/2017">2017</a></h3>
    <h3><a id="2018" href="/2018">2018</a></h3>
    <h3><a id="2019" href="/2019">2019</a></h3>
    <h3><a id="2020" href="/2020">2020</a></h3>
    <h3><a id="2021" href="/2021">2021</a></h3>
    <h3><a id="2022" href="/2022">2022</a></h3>
    <h3><a id="2023" href="/2023">2023</a></h3>
</body>
{% endblock %}