{% extends "base.html" %}
{% block title %}2015{% endblock %}

{% block content %}

<head>
    <h1>This is the year 2015</h1>
    <br>
    <h3>All public Bluebike data began in January 2015.</h3>
    <h3>There were a total of 1,122,558 total bike rides recorded during this year.</h3>
    <br>
</head>

<body>
    <img logo src="{{ url_for('static', filename='MonthlyRides.png' )}}" class="center" />
    <h5>Based on this chart we are able to see the rides for the year 2015 broken down by month.</h5>
    <h5>Clearly, the summer and warm months have a larger amount of rides then in the winter.</h5>
    <h5>February recorded the least rides (4.02k) and July is recorded having the most rides (175.32k).</h5>
    <h5>Therefore, we can see an increase of 4,261% from February to July in total rides per month.</h5>
    <br>
    <img logo src="{{ url_for('static', filename='YearlyRidesUser.png' )}}" class="center" />
    <h5>Bluebike categories users by two types, Customer and Subscriber.</h5>
    <h5>A Subscriber has a monthly or annual membership while a Customer is a single use ride.</h5>
    <br>
    <img logo src="{{ url_for('static', filename='AvgTripUser.png' )}}" class="center" />
    <h5>When looking at the average trip during (in seconds) by user type, we notice a significant outlier in Customers during March.</h5>
    <h5>These outlying customers had an average trip of 5,960 seconds (or 1.65 hours) in March 2015.</h5>
    <h5>With late March being the beginning of spring after Boston's record breaking winter (most snowfall in a single season), we may conclude that average trip duration increased for single use customers at this time to enjoy the increasing warmer weather as the snow melted.</h5>
    <h5>Subscribers however stayed consistently below 2,700 seconds (45 minutes) per ride as anytime over that results in additional charges.</h5>
    <br>
    <img logo src="{{ url_for('static', filename='TopStartUser.png' )}}" class="center" />
    <h5>The top 5 annually most started from Bluebike stations are indicated in this graph, along with their corresponding Subscriber and User amounts.</h5>
    <h5>The most popular station is South Station with 30,800 total rides in 2015. This can largely be due to South Station being an intersection point for commuter rails and buses going into downtown Boston.</h5>
    <h5>Subscibers with memberships account for 73.06% of all rides at the top 5 most used starting stations.</h5>
    <br>
    <img logo src="{{ url_for('static', filename='TopEndUser.png' )}}" class="center" />
    <h5>Similarly, the top 5 annully most ended stations for Bluebike are indicated with their Subsciber and User amounts.</h5>
    <h5>Subscibers account for 74.77% of all rides ending at the top 5 finishing stations.</h5>
    <h5>It is important to note that the top 5 finishing stations only account for 5/157 (3.18%) of the total stations in 2015.</h5>
    <h5>However, these 5 stations account for 11.35% of all rides for ending stations.</h5>
    <br>
    <img logo src="{{ url_for('static', filename='BoxPlot.png' )}}" class="center" />
    <h5>The median amount of rides that finish at an ending station is 6,220 with first and third quartiles having 2,590 and 10,540 rides respectively.</h5>
    <h5>Therefore, we can see the top 5 end stations are all nearly, if not more, exceeding double the amount of end rides then the third quartile value with 3/5 stations even being true outliers.</h5>
    <br>
    <img logo src="{{ url_for('static', filename='GenderUserAmount.png' )}}" class="center" />
    <h5>Gender is indicated in this graph by 1 = Male, 2 = Female, 0 = No response.</h5>
    <h5>Males account for 57.88% of total rides in 2015, with females representing 20.37%, and non-responsive rides were 21.71%.</h5>
    <h5>When looking by user type the Customers have a much greater proportion of males, making up 76.45% of their total rides. Females accounted for 23.44% of rides and non-responding customers were neglegable at only 0.12%.</h5>
    <h5>Subscribers had a rate of 48.73% male, 18.86% female, and 32.42% did not report gender.</h5>
    <br>
    <img logo src="{{ url_for('static', filename='BirthYearAmount.png' )}}" class="center" />
    <h5>Users of Bluebike have the ability to report their birth year. For 243,421 of the rides (21.68%) birth year was not reported.</h5>
    <h5>The most amount of rides were found to have been taken by respondents born in 1988, making them 27 in 2015.</h5>
    <br>
    <br>
</body>

{% endblock %}