{% extends "base.html" %}
{% block title %}2015{% endblock %}

{% block content %}

<head>
    <h1>This is the year 2015</h1>
    <br>
    <h3>All public Bluebike data began in January 2015.</h3>
    <h3>There were a total of 1,122,558 total bike rides recorded during this year.</h3>
    <br>
</head>

<body>
    <img logo src="{{ url_for('static', filename='MonthlyRides.png' )}}" class="center" />
    <h5>Based on this chart we are able to see the rides for the year 2015 broken down by month.</h5>
    <h5>Clearly, the summer and warm months have a larger amount of rides then in the winter.</h5>
    <h5>February recorded the least rides (4.02k) and July is recorded having the most rides (175.32k).</h5>
    <h5>Therefore, we can see an increase of 4,261% from February to July in total rides per month.</h5>
    <br>
    <img logo src="{{ url_for('static', filename='MonthlyRidesUser.png' )}}" class="center" />
    <h5>Bluebike categories users by two types, Customer and Subscriber.</h5>
    <h5>A Subscriber has a monthly or annual membership while a Customer is a single use ride.</h5>
    <h5>In 2015, Subscribers make up 67% of total rides while Customers make up 33% of rides. </h5>
    <br>
    <img logo src="{{ url_for('static', filename='AvgTripUser.png' )}}" class="center" />
    <h5>When looking at the average trip during (in seconds) by user type, we notice a significant outlier in Customers during March.</h5>
    <h5>These outlying customers had an average trip of 5,960 seconds (or 1.65 hours) in March 2015.</h5>
    <h5>With late March being the beginning of spring after Boston's record breaking winter (most snowfall in a single season), we may conclude that average trip duration increased for single use customers at this time to enjoy the increasing warmer weather as the snow slowly melted.</h5>
    <h5>Additionally, by looking at the data another trend emerges, of all Subscriber ride averages being below 2,700 seconds.</h5>
    <h5>This is due to Subscribers membership restrictions allowing a maximum of 2,700 seconds (45 minutes) per ride without additional charges.</h5>

</body>

{% endblock %}